# 3.1 Estrutura de dados e sequências

**Tuplas:** São sequencias sequências imutáveis, de tamanho fixo, de objetos Python.

In [6]:
#Criando uma tupla simples
tup = 4,5,6

In [7]:
tup

(4, 5, 6)

Tuplas mas complexas precisam da utilização de parentes para colocar os valores

In [8]:
#Criando uma tupla de duas dimenções
nested_tup = (4, 5, 6), (7, 8)

In [9]:
nested_tup

((4, 5, 6), (7, 8))

Convertendo qualquer sequência em uma tupla

In [13]:
#Convertendo uma sequência de valores em uma tupla
tuple([4, 0, 2])

(4, 0, 2)

In [11]:
tup = tuple('string')

In [12]:
tup

('s', 't', 'r', 'i', 'n', 'g')

Para acessar um valore de uma tupla, basta buscar o endereço do valor com "[]", assim como feito na liguagem Java, C e C++,, os valores são indexado a partir do 0.

In [15]:
#Buscando o valor da tupla que está no 'endereço' 0 do vetor
tup[0]

's'

Caso tenha dentro da tupla um valor mutavel como uma lista, o mesmo poderá ser modificado in-place

In [19]:
#Convertendo a lista em tupla, repare que dentro da lista tem outra lista, na converção a lista de dentro não é
#convertida junto podendo ser modificada logo afrente
tup = tuple(['foo', [1,2], True])

In [20]:
tup

('foo', [1, 2], True)

In [21]:
#Buscando o segundo elemento da sequência da tupla (que é uma lista) e usando metodo .append(3) 
tup[1].append(3)

In [22]:
tup

('foo', [1, 2, 3], True)

Podemos usar os operador * e + para deixar as tuplas maiores

In [23]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [24]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')