# Método: to_sql

**Enviando o Dataframe para o Banco de Dados e Realacionamento**

In [12]:
import pandas as pd
import sqlalchemy

In [2]:
arquivo = ('http://api.sidra.ibge.gov.br/values/t/418/n103/all/v/all/p/all/c216/0,3808,3811,3815,3818,3821,3825,3829,3836,3840,3843,3846,3850,3853,3856,3859,3864,104327,104330/c201/6196/d/v180%203?formato=json')

In [10]:
df = pd.read_json(arquivo)

In [11]:
df.head()

,NC,NN,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N,D5C,D5N,MC,MN,V
0,Nível Territorial (Código),Nível Territorial,Total das áreas - POF (Código),Total das áreas - POF,Variável (Código),Variável,Ano (Código),Ano,Grupos e subgrupos de produtos (Código),Grupos e subgrupos de produtos,Classes de recebimento mensal familiar (Código),Classes de recebimento mensal familiar,Unidade de Medida (Código),Unidade de Medida,Valor
1,103,Total das áreas - POF,1,Total das áreas,180,Aquisição (monetária) alimentar domiciliar per...,1987,1987,0,Total,6196,Total,1007,Quilogramas,377.489
2,103,Total das áreas - POF,1,Total das áreas,180,Aquisição (monetária) alimentar domiciliar per...,1987,1987,3808,1. Cereais e leguminosas,6196,Total,1007,Quilogramas,43.821
3,103,Total das áreas - POF,1,Total das áreas,180,Aquisição (monetária) alimentar domiciliar per...,1987,1987,3811,2. Hortaliças,6196,Total,1007,Quilogramas,45.533
4,103,Total das áreas - POF,1,Total das áreas,180,Aquisição (monetária) alimentar domiciliar per...,1987,1987,3815,3. Frutas,6196,Total,1007,Quilogramas,47.984

In [13]:
#engine de conexão

engine = sqlalchemy.create_engine('mysql+pymysql://root:Salmos4;1@localhost:3306/brincar')

In [ ]:
df.to_sql(
    name='tb_medelete',
    con= engine,
    index = False,
    if_exists = 'relase'
)